*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

#content {
  display: flex;
  flex-direction: column;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}

#tab-content {
  height: 100vh;
  background-color: aqua;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
